/stub-generator/generator-docs/target/
/stub-generator/generator-java/target/
/stub-generator/generator-libs/target/
/stub-generator/generator-lib/target/
/stub-generator/generator-if/target/
/stub-generator/xml-jaxb/target/